<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Popular Colors of the World</title>
    <style>
        h1  {text-align:center;}
        p   {text-align:center;}
        div {text-align:center;}
        table   {width: 50%;margin-left: 25%;margin-right:25% ;}
        th  {text-align:center;}
    </style>

</head>
<body>
<div>

<h1>World's Most Popular Colors</h1>

<p>{{dfhtml | safe}}</p>

<p><a href="/submit">Submit</a> a Color four our list!</p>
<p><a href="/coolcharts">I want to see cool charts.</a></p>

</div>

</body>
</html>
